<div class="container" ng-controller="FriendController">

<table class="table" align="center">
	
    <tr bgcolor="#E0FFFF">
		<td colspan="3">Friend List</td>
	</tr>
	<tr ng-repeat="friend in showFriendList">
		<td><img  src="http://localhost:8085/Project2Middleware/getImage/{{friend.friendloginname}}"  width="40" height="40"></td>
		<td>	
		<span ng-show="friend.friendloginname==currentUser.loginname">{{friend.loginname}}</span>
		<span ng-show="friend.loginname==currentUser.loginname">{{friend.friendloginname}}</span>
		</td>
		<td><button class="btn btn-danger" ng-click="unFriend(friend)">Unfriend</button></td>
	</tr>
	
</table>


</div>